/* author: Sherri Lawson April 2021 */
    
  /* mouse over link */
  a:hover {
    color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    width: 45%; 
    height: 60%; 
    box-sizing: border-box;
    border: 8px solid rgb(103, 17, 173);
    text-align: center; 
    background-color: white;
}

h3 {
    display: block;
    font-size: 18;
    text-align: center;
    font-weight: bold;
}

img {
    background-image: url("Final-IMG-1388-resized.jpg");
    background-color: #cccccc;
    opacity: .5;
    width: 100%;
    max-height: 90vh; 
}

.nav {
    position: absolute;
    z-index: 1;
    text-align: center; 
    box-sizing: border-box;
} 

a {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #74b7fa;
    color: white;
    border-radius: 25px;
}

.btn {
    position: absolute;
    left: 10%;
    top: 60%;
    background-color:rgb(139, 226, 200);
    color:rgb(45, 105, 87);
    font-size: 24px;
    outline: none;
}

.btn:hover {
    background-color: rgb(134, 250, 215);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    outline: none;
}

.btn:active {
    background-color: rgb(41, 240, 180);
    color: black;
    box-shadow: 0 6px 8px 0 black;
    outline: none;
}

.copyright {
    text-align: center;
    font-size: 11px;
}

/* PC screen sizes */

@media (min-width: 1401px) {

    img {
        max-height: 90vh;
        /* max-height: 910px;  */
    }
    
    .window {
        top: 40%;
    }

    .nav {
        top: 80%;
        left: 33%;
    } 
    
    a {
        font-size: 18px;
        padding: 20px;
    }

    .btn {
        left: 8%;
        top: 45%;
    }    
}

/*  phone screens in portrait */
@media screen and (orientation: portrait) and (max-width: 450px) {

    .window {
        top: 45%;
        margin: 0 auto;
        width: 90%; 
    }

    .nav {
        top: 80%;
        left: 2%; 
        width: 100%;
        margin: 0 auto; 
    }
    
    a {
        font-size: 11px;
        padding: 8px;
    }
    
    .btn {
        left: 33%;
        top: 88%;
        font-size: 12px;
    }
    
    .copyright {
        position: absolute;
        left: 33%;
        font-size: 12px;
        top: 95%;
    }
    
} 
/* sizing the window down in portrait on laptop/pc */
@media screen and (orientation: portrait) and (min-width: 451px) and (max-width: 759px) {

    .nav {
        top: 85%;
        width: 100%;
        margin: 0 auto; 
    }

    a {
        font-size: 14px;
        padding: 5px;
    }

    .btn {
        left: 3%;
        top: 50%;
        font-size: 14px;
    }

    .copyright {
        position: absolute;
        left: 33%;
        font-size: 12px;
        top: 95%;
    }
}

 /* phone screens in landscape */
@media screen and (orientation: landscape) and (max-width: 896px) and (max-height: 550px) {

    .window {
        top: 40%;
    }

    .nav {
        top: 75%;
        left: 30%;
    }

    img {
        max-height: 90vh; 
    }
    
    a {
        font-size: 12px;
        padding: 8px;
    }

    .btn {
        left: 6%;
        top: 50%;
        font-size: 14px;
    }  
} 

 /* ipad portrait */
 @media screen and (orientation: portrait) and (min-width: 760px) and (max-width: 1024px) {

    .window {
        top: 40%;
    }

    .nav {
        top: 75%;
        left: 25%;
        margin: 0 auto;
    } 
    
    .btn {
        top: 40%;
        left: 2%;
        font-size: 16px;
    }
   
    .copyright {
        position: absolute;
        left: 40%;
        font-size: 12px;
        top: 95%;
    }
}

   /* smaller ipad screens */
   @media screen and (orientation: landscape) and (min-width: 900px) and (max-width: 1200px) {

    .window {
        top: 40%;
    }

    .nav {
        top: 75%;
        left: 32%;
    }

    img {
        /* max-height: 800px;  */
        max-height: 90vh;
    }
    
    a {
        font-size: 12px;
        padding: 8px;
    }

    .btn {
        left: 8%;
        top: 45%;
        font-size: 14px;
    }
    
} 
  /* laptop and larger ipad screens */
  @media screen and (orientation: landscape) and (min-width: 1201px) and (max-width: 1400px) {

    .window {
        top: 48%;
    }

    .nav {
        top: 85%;
        left: 33%;
    }

    img {
        /* max-height: 558px;  */
        max-height: 90vh;
    }
    
    a {
        padding: 8px;
    }

    .btn {
        left: 8%;
        top: 50%;
    }
} 
